#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	width: 100%;
}

.search-autocomplete {
	margin: 1em;
}

.search-container {
	margin: 1em 0 5em 0;
}

.weather-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.weather-result {
	background-repeat: no-repeat;
	background-position: top right;
	border-radius: 1em;
	border: 1px solid blueviolet;
	margin: 1em;
	padding: 1em 5em 1em 1em;
	text-align: left;
}